section {
  border: 12px solid #75597d;
  border-radius: 35px;
  opacity: 95%;
  box-shadow: 5px 5px 5px #75597d;
  max-width: 800px;
  margin: 30px auto 0;
  font-family: "Inconsolata", cursive;
  padding: 15px;
  background: linear-gradient(
    104.3deg,
    rgb(253, 243, 243) 10.9%,
    rgb(248, 231, 231) 27.8%,
    rgb(160, 112, 161) 101.7%
  );
}

h1 {
  padding: 30px;
  padding-left: 50px;
}

.search-input {
  background-color: #d4a2be;
  border: 8px solid#d4a2be;
  border-radius: 20px;
  font-size: 20px;
  color: #75597d;
  box-shadow: 3px 3px 3px #75597d;
}

.search-input:focus-visible {
  outline: none;
}

.button {
  color: #f8e4dd;
  border: 8px solid #75597d;
  background-color: #75597d;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 3px 3px 3px #75597d;
  transition: all 200ms ease-in-out;
}
.button:hover {
  background: linear-gradient(
    104.3deg,
    rgb(253, 243, 243) 10.9%,
    rgb(248, 231, 231) 27.8%,
    rgb(160, 112, 161) 101.7%
  );
  color: #75597d;
  border: none;
}
.city {
  padding-top: 30px;
}
.city,
.today,
.time,
.temperature,
.search-box,
.humidity,
.wind-speed,
.description {
  padding-left: 30px;
}

.description {
  text-transform: capitalize;
  font-weight: 800;
  color: #75597d;
}
.wind-speed {
  padding-bottom: 20px;
}

.image {
  width: 200px;
  padding-top: 20px;
}

i {
  font-size: 20px;
  color: #75597d;
}
.card {
  font-size: 10px;
}

.card-text {
  font-size: 20px;
}

.card-body {
  background: linear-gradient(
    104.3deg,
    rgb(253, 243, 243) 10.9%,
    rgb(248, 231, 231) 27.8%,
    rgb(160, 112, 161) 101.7%
  );
  border-radius: 30px;
  border: 5px solid #d4a2be;
  box-shadow: 3px 3px 3px #75597d;
  text-align: center;
}

footer {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
}

.F,
.C {
  text-decoration: none;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  color: black;
  text-decoration: none;
}
